/*SELECTOR HERMANO GENERAL*/

p {

    color: blue;
    font-size: 20px;
    text-align: justify;

}




/*SELECTOR HERMANO ADYACENTE*/

div .texto {

    color:black;
    font-size: 25px;
    text-align: center;
}

div .texto {

    color:black;
    font-size: 25px;
    text-align: center;
}




/*SELECTOR DE HIJO*/

div #P1 span{

    color:red;
    background: yellow;
    font-size: 15px;

}



div #P1 span{

    color:red;
    background: yellow;
    font-size: 15px;

}







