.texto{
    background: red;
    color:black;
    font-size: 20px;
}


.texto1{
    background: #ff861e;
    color:black;
    font-size: 15px;
}



#articulo {

    background: #63cea5;
    color: black;
    text-align: center;
    text-align: justify;

}



#articulo1 {

    color: blue;
    text-align: center;
    text-align: justify;

}



div p span {

color:green;
text-align: justify;
font-size: 20px;


}


h3 {

  background:yellow;
  text-align: center;


}




