
h1{

background: #85cff0;
    color: black;
    margin-top:20px;


}



.texto{

  margin-top:60px;
    text-align: center;
    text-align: justify;
    width: 600px;
 margin: 0 auto;


}



.texto span{

    color: red;


}

#p1{

     margin-top:60px;
    text-align: center;
    text-align: justify;
    width: 600px;
 margin: 0 auto;


}

#p2 span{

    color:red;
}




#p2{

     margin-top:60px;
    text-align: center;
    text-align: justify;
    width: 600px;
 margin: 0 auto;


}

