
/*SELECTOR ATRIBUTO CONTIENE*/

p span {

    color:red;
    font-size: :17px;
    text-align: justify;
    background: #8ce69d;


}

p span {

    color:blue;
    font-size: :17px;
    text-align: justify;
    background: #8ce69d;


}

    /*SELECTOR ATRIBUTO COMIENZA CON*/






 /*SELECTOR ATRIBUTO DE UNA LISTA DE VALOERES SEPARADOS POR ESPACIO*/
